* {
    box-sizing: border-box;
}

html {
    /* --primary: linear-gradient(to right top, #d65b7e, #551426); */
    --secondary: rgba(195, 205, 204, .7);
}

html,
body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* height: 100%; */
    margin: 0;
    display: block;
    /* background-color: #290622cc;
     */
    /* background-image: url("/../img/pawel-czerwinski-3k9PGKWt7ik-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    background-attachment: fixed;
    /* background-color: #04001eab; */
    /* background: linear-gradient(to top, #187eaa, #04001e); */
    font-size: 1em;
    /* color: white; */
}

header {
    width: 100%;
    height: auto;
    display: block;
}

.header-bg {
    background-image: url("/../img/banniereCV.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 0px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    background: #187eaa;
    box-shadow: 0 5px rgb(4 0 30 / 15%);
    z-index: 1000;
    font-size: 20px;
    margin-top: 397px;
}


/* .logoMP{
   
    width: 150px;
    height: 150px;
    border-radius: 10% 25%;
    /* background-color: rgba(255, 255, 255, 0.911) ;*/


/* display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -khtml-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
} 

.logoMPtext{
     font-family: 'Rock Salt', cursive; 
    font-weight: bold;
    font-size: large;
    font-size: 30px;
    /* color: lightpink; */


/*    color:rgba(239, 248, 118, 0.829);
    margin-right: 200px;

} */

.dropdownmenu {
    margin-top: 0;
    margin-bottom: 0;
}

.dropdownmenu ul {
    display: none;
    position: absolute;
    padding: 0px;
}

.dropdownmenu li {
    list-style-type: none;
    display: inline-flex;
    vertical-align: middle;
}

.color a:hover {
    background-color: var(--secondary);
    border-radius: 15px;
}

.dropdownmenu li:hover ul {
    display: block;
    background-color: #D65B7D;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 30s;
}

.dropdownmenu a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.main {
    margin-bottom: 10px;
}

.container {
    position: relative;
    display: block;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 30px 10px;
    /* min-height: 550px; */
    background-color: #f1f6f93b;
    /* background-color: #d65b7e83; */
    border-radius: 15px;
    box-shadow: 5px 7px rgba(0, 0, 0, 0.308);
    text-align: justify;
}

.grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto;
    column-gap: 4%;
    /* row-gap: 4%; */
    /* padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
}

.exp {
    display: grid;
    grid-template-columns: 10% 85%;
    grid-template-rows: auto;
    column-gap: 2%;
    /* padding-left: 50px; */
    padding-bottom: 20px;
}

.exp li {
    list-style-type: none;
}

.img {
    width: 70px;
    padding-top: 30px;
}

.img img {
    width: 100%;
}

.bgc {
    background-color: #f5f5f57d;
    border-radius: 15px;
    box-shadow: 5px 3px rgb(1, 1, 1, .2);
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    color: black;
}

#cv li {
    list-style-type: none;
}

.skills {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto auto;
    column-gap: 2%;
    row-gap: 0%;
    margin: 10px;
    border-radius: 5px;
}

.grid img {
    width: 60%;
    height: auto;
    padding: 5px;
}

.skillbar {
    padding: 20px;
}

.skillbar h3 {
    margin-top: 10px;
}

.background-color {
    background-color: #f5f5f57d;
    color: black;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: -20px;
    box-shadow: 1px 3px rgba(1, 1, 1, .1);
}

footer {
    background: white;
    height: 30px;
    margin-bottom: -10px;
    padding: 5px 10px;
    color: #187eaa;
}

h2 {
    /* text-align: center; */
    text-decoration: underline;
    padding-bottom: 20px;
    /* font-family: 'Rock Salt', cursive;  */
    /* color:coral; */
    font-size: 25px;
}

h3 {
    text-align: center;
}

form {
    background-image: url(img/en-cours-de-construction1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}


/* textarea{
    background-color: var(--secondary);
} */


/*@media only screen and (min-width:1100px){
.body {
    display:flex;
}

.main{
    padding: 0 15px;
    max-width: 1080px;
    margin: 0 auto;
}

img{
    width: calc(100% +20px);
    margin-left:-10px;
    margin-right: -10px;
    display:block;
}
}*/

.carousel {
    position: relative;
    overflow: hidden;
    /* padding: 50px; */
}

.carousel__container {
    content: '';
    clear: both;
    display: table;
}

.carousel__item {
    float: left;
    margin: 5px;
}