        @media screen and (min-width: 1651px) {
            * {
                font-size: 18px;
            }
            body {
                font-size: large;
            }
            .header-bg {
                /* background-image: url("../img/banniereCV.png");
                background-size: cover; */
                height: 450px;
                grid-template-areas: "c1 th2 th1";
                grid-template-columns: 33% 33% 33%;
            }
            .cercle1 {
                width: 300px;
                height: 300px;
                border-radius: 200px;
                margin-top: 5%;
                margin-left: 5%;
            }
            .header-bg h2 {
                margin-top: 30%;
                margin-left: -10%;
                font-size: 35px;
            }
            .header-bg h1 {
                margin-top: 40%;
                margin-left: -40%;
                font-size: 30px;
            }
            .dropdownmenu {
                display: grid;
                grid-template-columns: 16% 16% 16% 16% 20% 20%;
                padding-top: 15px;
            }
            .dropdownmmenu li {
                padding: 5px;
            }
            .container {
                width: 1500px;
                margin-left: auto;
                margin-right: auto;
            }
            .container article {
                /* padding-top: 80px; */
                padding-left: 15px;
                padding-right: 10px;
            }
            .container :first-child {
                margin-top: 3%;
            }
            .title-main {
                width: 300px;
                height: 150px;
                display: inline-block;
                position: relative;
            }
            .title-main-left {
                left: 50px;
                top: 70px;
            }
            .title-main-right {
                left: 1550px;
                top: 70px;
            }
            .title-main h1,
            .title-main h2 {
                text-align: center;
                margin-top: 50px;
                font-size: x-large;
            }
            .title-main-left-darkblue {
                position: relative;
                width: 300px;
                height: 150px;
                left: 50px;
                top: 70px;
            }
            .title-main-left-darkblue h2 {
                text-align: center;
                margin-top: 50px;
                font-size: x-large;
            }
            .skills {
                /* padding-top: 80px; */
                padding-left: 15px;
                padding-right: 5px;
                font-size: x-large;
                text-align: center;
                display: grid;
                grid-template-columns: 45% 45%;
                grid-template-rows: auto;
                column-gap: 8%;
                row-gap: 0%;
            }
            .grid {
                display: grid;
                grid-template-columns: 30% 30% 30%;
            }
            .grid img {
                width: 70%;
                text-align: center;
                /* height: auto;*/
                padding-left: 25%;
                padding-top: 10%;
            }
            .grid1 {
                color: white;
                text-align: center;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                /* display: grid;
                grid-template-columns: 33% 33% 33%;
                column-gap: 1%; */
            }
            .grid1h3 {
                margin-top: 80px;
            }
            .footer {
                display: grid;
                grid-template-columns: 90% 10%;
                grid-row: auto;
                padding: 10px;
            }
            .footer img {
                width: 30%;
                margin-top: 20%;
            }
            .yellow :first-child {
                margin-top: 50px;
            }
            .yellow div {
                height: 250px;
                text-align: center;
            }
            .yellow h3,
            .yellow p {
                text-align: center;
            }
            .yellow img {
                width: 10%;
            }
            .item {
                display: flex;
                flex-direction: column;
                width: 400px !important;
                /* margin-top: 80px !important; */
                padding-top: 20px !important;
            }
        }