@media screen and (min-width: 700px) and (max-width: 999px) {
    * {
        font-size: 14px;
    }
    .header-bg {
        background-image: url("../img/bannierecvMedium.png");
        background-size: cover;
        background-position: center;
        height: 255px;
    }
    .dropdownmenu {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding-top: 15px;
    }
    .dropdownmmenu li {
        padding: 5px;
    }
    .container {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
    .container article {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 10px;
    }
    .title-main {
        width: 250px;
        height: 100px;
        display: inline-block;
        position: relative;
    }
    .title-main-left {
        left: 70px;
        top: 30px;
    }
    .title-main-right {
        left: 70px;
        top: 30px;
    }
    .title-main h2 {
        text-align: center;
        margin-top: 35px;
        font-size: large;
    }
    .title-main-left-darkblue h2 {
        text-align: center;
        margin-top: 10px;
        font-size: large;
    }
    .yellow {
        text-align: center;
    }
    .yellow p {
        text-align: center;
    }
    form {
        margin-right: -60px;
    }
    .footer {
        display: grid;
        grid-template-columns: 90% 10%;
        grid-row: auto;
        padding: 10px;
    }
    .footer-i {
        margin-top: 10%;
    }
    .footer img {
        width: 60%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1650px) {
    * {
        font-size: 16px;
    }
    .header-bg {
        background-image: url("../img/bannierecvMedium.png");
        background-size: cover;
        height: 350px;
    }
    .dropdownmenu {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding-top: 15px;
    }
    .dropdownmenu li {
        padding: 5px;
    }
    .container {
        width: 896px;
        margin-left: auto;
        margin-right: auto;
    }
    .title-main {
        width: 250px;
        height: 100px;
        display: inline-block;
        position: relative;
    }
    .title-main-left {
        left: 150px;
        top: 50px;
    }
    .title-main-right {
        left: 1000px;
        top: 50px;
    }
    .title-main h2 {
        text-align: center;
        margin-top: 35px;
        font-size: large;
    }
    .title-main-left-darkblue {
        left: 150px;
        top: 50px;
        width: 250px;
        height: 100px;
        display: inline-block;
        position: relative;
        padding-top: 15px;
    }
    .title-main-left-darkblue h2 {
        text-align: center;
        margin-top: 20px;
        font-size: large;
    }
    .skills {
        padding-top: 60px;
        font-size: large;
        text-align: center;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto;
        column-gap: 10%;
        row-gap: 0%;
    }
    .skillbar {
        padding: 5px;
    }
    .grid {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .grid img {
        width: 70%;
        text-align: center;
        /* height: auto;*/
        padding-left: 25%;
        padding-top: 10%;
    }
    .yellow div,
    .yellow p {
        text-align: center;
    }
    form {
        margin-right: -60px;
    }
    .container article {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 10px;
    }
    .footer {
        display: grid;
        grid-template-columns: 90% 10%;
        grid-row: auto;
        padding: 10px;
    }
    .footer-i {
        margin-top: 8%;
    }
    .footer img {
        width: 40%;
    }
}